.span12 {
    background-color: #007AAF;
    font-family: "oswald";
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-size: 11px;
    border-radius: 3px;
    color: white;
    border: 0px;
}

.selectedPizza {
    border-top: 33px solid Lime!important;
}

.captionSelected {
    width:100%;
    position:absolute;
    color:yellow;
    font-weight:bold;
    font-size:x-large;
}