.span12 {
    background-color: #007AAF;
    font-family: "oswald";
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-size: 11px;
    border-radius: 3px;
    color: white;
    border: 0px;
}

.selectedPizza {
    border-top: 2px solid Lime !important;
}

.captionSelected {
    width:100%;
    font-family: "oswald";
    text-transform: uppercase;
    color:yellow;
    font-weight:bold;
    background-color: #007AAF;
    font-family: "oswald";
}

#PizzaAfbeelding {
    top: 50px !important;
    height: 150px;
    width: 150px;
}

#top3Button {
    background-color: #007AAF;
    top: 150px;
}

.text-big{
    background-color: #007AAF;
    font-family: "oswald";
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-size: 32px;
    border-radius: 3px;
    color: white;
    border: 0px;
    position: relative;
    height: 50px;
}